<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<p>Check out my projects!</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td>
          <div>
            <%= link_to 'Show', project, :class => "btn btn-success" %>
          </div>
        </td>
        <% if user_signed_in? %>
          <td>
            <div>
              <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-secondary" %>
            </div>
          </td>
          <td>
            <div>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <a class="btn btn-primary btn-lg" href="/projects/new" role="button">+ New Project</a>
<% end %>
